Week 5/speller/keys/aca.txt
Week 5/speller/keys/austen.txt
Week 5/speller/keys/burnett.txt
Week 5/speller/keys/cat.txt
Week 5/speller/keys/constitution.txt
Week 5/speller/keys/federalist.txt
Week 5/speller/keys/frankenstein.txt
Week 5/speller/keys/grimm.txt
Week 5/speller/keys/her.txt
Week 5/speller/keys/holmes.txt
Week 5/speller/keys/homer.txt
Week 5/speller/keys/lalaland.txt
Week 5/speller/keys/mansfield.txt
Week 5/speller/keys/pneumonoultramicroscopicsilicovolcanoconiosis.txt
Week 5/speller/keys/revenant.txt
Week 5/speller/keys/rinehart.txt
Week 5/speller/keys/shakespeare.txt
Week 5/speller/keys/stein.txt
Week 5/speller/keys/stoker.txt
Week 5/speller/keys/surgery.txt
Week 5/speller/keys/tolstoy.txt
Week 5/speller/keys/wells.txt
Week 5/speller/keys/whittier.txt
Week 5/speller/keys/wordsworth.txt
Week 5/speller/keys/xueqin1.txt
Week 5/speller/keys/xueqin2.txt
Week 5/speller/texts/aca.txt
Week 5/speller/texts/austen.txt
Week 5/speller/texts/birdman.txt
Week 5/speller/texts/burnett.txt
Week 5/speller/texts/carroll.txt
Week 5/speller/texts/cat.txt
Week 5/speller/texts/constitution.txt
Week 5/speller/texts/federalist.txt
Week 5/speller/texts/frankenstein.txt
Week 5/speller/texts/grimm.txt
Week 5/speller/texts/her.txt
Week 5/speller/texts/holmes.txt
Week 5/speller/texts/homer.txt
Week 5/speller/texts/lalaland.txt
Week 5/speller/texts/mansfield.txt
Week 5/speller/texts/pneumonoultramicroscopicsilicovolcanoconiosis.txt
Week 5/speller/texts/revenant.txt
Week 5/speller/texts/rinehart.txt
Week 5/speller/texts/shakespeare.txt
Week 5/speller/texts/stein.txt
Week 5/speller/texts/stoker.txt
Week 5/speller/texts/surgery.txt
Week 5/speller/texts/tolstoy.txt
Week 5/speller/texts/wells.txt
Week 5/speller/texts/whittier.txt
Week 5/speller/texts/wordsworth.txt
Week 5/speller/texts/xueqin1.txt
Week 5/speller/texts/xueqin2.txt
